/* Mobile & tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }
  .hide-on-tablet {
    display: none;
  }
  .mainmenu-area {
    /* position: fixed; */
    height: 90px !important;
    width: 100%;
  }

  /* .header {
    height: 60px !important;
  } */

  .navbar-list {
    margin: 0 !important;
  }

  .header__search {
    /* position: fixed; */
    width: 100%;
    z-index: 10;
    top: 90px;
    /* margin-bottom: 10px !important; */
  }

  .item-cart--title {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 739px) {
  :root {
    --header-height: 54px;
    --navbar-height: 0px;
  }
  .hide-on-mobile {
    display: none !important;
  }

  .header {
    height: 60px !important;
  }

  .mainmenu-area {
    position: fixed;
    /* height: 60px !important; */
    background: none repeat scroll 0 0 #e49f9f !important;
    width: 100%;
  }

  .navbar-list {
    margin-top: 0 !important;
  }

  .shopping-item {
    right: 10px;
    padding: 4px !important;
    top: 18px;
    font-size: 12px;
  }

  /* .header-with-search {
    justify-content: space-between;
  }

  .header__cart,
  .header__logo {
    width: unset;
  } */

  /* .header__search {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    z-index: 1;
    padding: 0 16px;
    animation: mobileSearchSideIn linear 0.3s;
    display: none;
  }

  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      top: calc(var(--header-height) / 2);
    }
    to {
      opacity: 1;
      top: var(--header-height);
    }
  } */
}
