/* .slide-container{
    padding-left: auto;
    padding-right: auto;
} */

/* .slide-container{ */
    /* background-color: rgba(255, 99, 71, 0.4); */
/* } */
.each-fade{
    text-align: center;
}
.slide-text-image{
    color: Black;
}
