.header {
    height: 140px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    /* margin-bottom: 30px; */
}

.header__logo {
    width: 0px;
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
    margin-left: 160px;
    z-index: 8;
}

.header__logo-link {
    width: 120px;
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
    text-align: center;
}
.header__search-input {
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.header__search-input:focus {
    border: 1px solid rgb(156, 154, 235);
}

.header__search-btn {
    background-color: var(--border-color);
    border: none;
    height: 40px;
    width: 60px;
    border-radius: 2px;
    margin-left: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #92908f;
    transition: linear 0.2s;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}
